div#wrap div.bannerwrap {
  width: 100%;
  height: 400px;
}

div#wrap div.banner {
  min-height: 200px;
  width: 100%;
  height: 400px;
  position: absolute;
  background: url(../img/banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div#wrap div.banner div.typed_wrap {}

div#wrap div.banner div.typed_wrap h1 {
  display: inline;
  color: white;
  font-size: 50px;
  font-family: 'NotoKrM';
}

div#wrap div.banner div.typed_wrap h1 span.typed {
  font-family: 'NotoKrM';
}

div#wrap div.banner div.typed_wrap h1 span.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

div#wrap div.banner div.typed_wrap {
  display: block;
  border: 4px solid #ecf0f1;
  width: 598px;
  height: auto;
  padding: 35px;
  /*centers it in the .banner*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typed-cursor {
  opacity: 0;
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div#wrap div.main {
  width: 80%;
  margin: 100px auto;
}

div#wrap div.main div.fundingwrap {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

div#wrap div.main div.fundingwrap h1.title {
  text-align: center;
  font-size: 28px;
  font-family: 'NotoKrM';
}

div#wrap div.main div.fundingwrap ul.funding {
  width: 100%;
  display: flex;
  margin: 60px 0;
}

div#wrap div.main div.fundingwrap ul.funding li {
  width: calc(100%/3 - 40px);
  height: 100%;
}

div#wrap div.main div.fundingwrap ul.funding li:nth-of-type(2) {
  margin: 0 60px;
}

div.main div.fundingwrap ul.funding li img.fundingImg {
  width: 100%;
}

div.main div.fundingwrap ul.funding li div.fundingText {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

div.main div.fundingwrap ul.funding li div span {
  font-size: 18px;
  font-family: 'NotoKrM';
}

div.main div.fundingwrap ul.funding li div span.fundingTitle {
  font-size: 20px;
}

div.main div.fundingwrap ul.funding li div span.fundingPer {
  color: #004cf7;
  font-size: 22px;
  font-family: 'NotoKrB';
}

div#wrap div.main div.fundingwrap ul.funding li div.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

div#wrap div.main div.fundingwrap ul.funding li div.btn button.fundingBtn {
  border: 3px solid #000;
  width: 45%;
  height: 55px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'NotoKrM';
  background-color: #fff;
  color: #000;
}

div#wrap div.main div.fundingwrap ul.funding li div.btn button.likeBtn {
  border: 3px solid #000;
  width: 45%;
  height: 55px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'NotoKrM';
  background-color: #000;
  color: #fff;
}

div#wrap div.main div.donatewrap {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 200px 0;
}

div#wrap div.main div.donatewrap h1.title {
  text-align: center;
  font-size: 28px;
  font-family: 'NotoKrM';
}

div#wrap div.main div.donatewrap ul.donate {
  width: 100%;
  display: flex;
  margin: 60px 0;
}

div#wrap div.main div.donatewrap ul.donate li {
  width: calc(100%/3 - 40px);
  height: 100%;
}

div#wrap div.main div.donatewrap ul.donate li:nth-of-type(2) {
  margin: 0 60px;
}

div.main div.donatewrap ul.donate li img.donateImg {
  width: 100%;
}

div.main div.donatewrap ul.donate li div.donateText {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

div.main div.donatewrap ul.donate li div span {
  font-size: 18px;
  font-family: 'NotoKrM';
}

div.main div.donatewrap ul.donate li div span.donateTitle {
  font-size: 20px;
}

div.main div.donatewrap ul.donate li div span.donatePer {
  color: #004cf7;
  font-size: 22px;
  font-family: 'NotoKrB';
}

div#wrap div.main div.donatewrap ul.donate li div.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

div#wrap div.main div.donatewrap ul.donate li div.btn button.donateBtn {
  border: 3px solid #000;
  width: 45%;
  height: 55px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'NotoKrM';
  background-color: #fff;
  color: #000;
}

div#wrap div.main div.donatewrap ul.donate li div.btn button.likeBtn {
  border: 3px solid #000;
  width: 45%;
  height: 55px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'NotoKrM';
  background-color: #000;
  color: #fff;
}

div.progress {
  width: 100%;
}

div.progress progress {
  width: 100%;
  height: 8px;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  width: 100%;
  background-color: #ffffff;
}

div.progress progress::-webkit-progress-value {
  width: 100%;
  height: 100%;
  background-color: #1505ff;
}